* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Yeseva One", serif
}

 .body {
    background: #F4EBD9;
    color: #005F73;
    height: 100vh;}
    
    .container{
        margin: 50px;
    }

    .header-title {
        font-size: 48px;
        transition: all 1s;
    }

    .header-title:hover {
        font-size: 50px;
    }

    .desc-wrap{
        display: inline;
    }

    .desc-wrap-wrap{
        display: flex;
        margin-top: 10px;
    }

    .main-wrap {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    }


    .main-img{
       box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);;
       transition: all 1s;
    }

    .main-img:hover{
        width: 550px;
    }