* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Yeseva One", serif
}

 .body {
    background: #F4EBD9;
    color: #005F73;
    height: 100vh;}
    
    .container{
        margin: 50px;
    }

    .header-title {
        font-size: 48px;
    }