* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

 .body {
    background: linear-gradient(rgb(86, 190, 255), rgb(100, 255, 100));
    height: 100vh;}